[ req ]
default_bits        = 4096
default_keyfile     = ca-key.pem
distinguished_name  = req_distinguished_name
attributes          = req_attributes
x509_extensions     = v3_ca

[ req_distinguished_name ]
countryName                 = Country Name (2 letter code)
countryName_default         = FR
stateOrProvinceName         = State or Province Name (full name)
stateOrProvinceName_default = Normandie
localityName                = Locality Name (eg, city)
localityName_default        = Rouen
organizationName            = Organization Name (eg, company)
organizationName_default    = Zone01
commonName                  = Common Name (eg, YOUR name)
commonName_max              = 64

[ req_attributes ]
challengePassword        = A challenge password
challengePassword_min    = 4
challengePassword_max    = 20

[ v3_ca ]
subjectKeyIdentifier=hash
authorityKeyIdentifier=keyid:always,issuer:always
basicConstraints = CA:true