{{define "comment" }}
<div class="tab-comment">
    {{ if .Connected }}
    {{ range .CurrentPost.Tab_comment}}
    <div class="comment">
        <div class="comment-head">
            <h5>{{.Author}}</h5>
            <p>{{.CreationDate}}</p>
        </div>
        <div class="comment-content">
            <p>{{.Content}}</p>
        </div>
        <form class="comment-rate" method="POST" action="/post/id?id={{ .Postid}}">
            {{if .Ifcurrentuser }}
            <button class="delete_btn" type="delete" name="delete" value="{{ .ID}}">delete</button>
            {{ end }}
            <button class="like_btn" type="submit" name="like" value="true {{ .ID}}">like : {{.Like}}</button>
            <button class="dislike_btn" type="submit" name="like" value="false {{ .ID}}">dislike : {{.Dislike}}</button>
        </form>
    </div>
    {{end}}
    {{ else }}
    {{ range .CurrentPost.Tab_comment}}
    <div class="comment">
        <div class="comment-head">
            <h5>{{.Author}}</h5>
            <p>{{.CreationDate}}</p>
        </div>
        <div class="comment-content">
        <p>{{.Content}}</p>
        </div>
        <div class="comment-rate">
            <span class="rate like">
                like : {{.Like}}
            </span> 
            <span class="rate dislike">
            dislike : {{.Dislike}}
        </span> 
        </div>
    </div>
    {{end}}
    {{ end }}
</div>
{{ end }}