{{ template "head" .}}
<main>
  <a href="/" class="back_btn">Back Home</a>
  <section class="login">
    <section class="auth-form">
      <h5>Login</h5>
      <form action="" method="post">
        <div class="field">
          <label for="">email</label>
          <input type="email" name="email" />
        </div>
        <div class="field">
          <label for="">Password</label>
          <input type="password" name="password" />
        </div>
        <button type="submit">Submit</button>
      </form>
    </section>
    <div class="vert-ligne"></div>
    <section class="third_party_login">
      <div class="third_party_button">
        <a href="/github/auth/login">
          <div class="light_bg_color">
            <img src="../static/assets/authentication/github-fill-svgrepo-com.svg"
              alt="Github Sign-in and Register button">
          </div>
          <div class="light_bg_color">
            <p>Connect with Github</p>
          </div>
        </a>
      </div>
      <div class="third_party_button">
        <a href="/google/auth/login">
          <div class="light_bg_color">
            <img src="../static/assets/authentication/google-color-svgrepo-com.svg" alt="Google Sign-in logo">
          </div>
          <div class="light_bg_color">
            <p>Connect with Google</p>
          </div>
        </a>
      </div>
    </section>
  </section>
  <section class="error">
    {{ if .ErrorMessage}}
    <div class="alert">*{{ .ErrorMessage}}</div>
    {{ end }}
    <p>No account? <a href="/register"><span class="link">Register</span></a> now</p>
  </section>
</main>
{{ template "footer" .}}
