{{ template "head" .}} 
{{ template "navbar" .}}
<main>
    <div>
        {{if .Admin}}
            <div>Your current status is administrator</div>
        {{else if .Moderator}}
            <div>Your current status is moderator</div>
        {{else if .Modlight}}
            <div>Your current status is comment moderator</div>
        {{else}}
            <div>Your current status is regular user</div>
        {{end}}
        <div>
            {{if and (eq .User.AskedMod 0) (eq .User.UserType 1)}}
                <form action="/profile" method="post">
                    <button type="submit" name="askmod" value="{{.User.ID}}">Ask to become a moderator.</button>
                </form>
                <div>or</div>
                <form action="/profile" method="post">
                    <button type="submit" name="asklightmod" value="{{.User.ID}}">Ask to become a comment moderator.</button>
                </form>
            {{else if eq .User.AskedMod 1}}
                <div>Your demande to become a moderator is being examinated.</div>
            {{else if eq .User.AskedMod 2}}
                <div>Your demande to become a comment moderator is being examinated.</div>
            {{end}}
        </div>
        <!-- make other functionnality, user data available with .User -->
        <!-- Show activity -->
        <div style="height:10vh"></div>
        <h1>Activity</h1>
        <div style="height:5vh"></div>
        <h2>Liked posts</h2>
        <div style="height:2vh"></div>
        {{range $val := .Liked.Posted}}
            <div>{{$val}}</div>
        {{end}}
        <div style="height:5vh"></div>
        <h2>Liked comments</h2>
        <div style="height:2vh"></div>
        {{range $val := .Liked.Commented}}
            <div>{{$val}}</div>
        {{end}}
        <div style="height:5vh"></div>
        <h2>Disliked posts</h2>
        <div style="height:2vh"></div>
        {{range $val := .Disliked.Posted}}
            <div>{{$val}}</div>
        {{end}}
        <div style="height:5vh"></div>
        <h2>Disliked comments</h2>
        <div style="height:2vh"></div>
        {{range $val := .Disliked.Commented}}
            <div>{{$val}}</div>
        {{end}}
    </div>
</main>
{{ template "footer" .}}