{{ template "head" .}} 
{{ template "navbar" .}}
<main>
    <div>
        {{if .Admin}}
            <div>Your current status is administrator</div>
        {{else if .Moderator}}
            <div>Your current status is moderator</div>
        {{else}}
            <div>Your current status is regular user</div>
        {{end}}
        <div>
            {{if and (eq .User.AskedMod 0) (eq .User.UserType 1)}}
                <form action="/profile" method="post">
                    <button type="submit" name="askmod" value="{{.User.ID}}">Ask to become a moderator.</button>
                </form>
            {{else if eq .User.AskedMod 1}}
                <div>Your demande to become a moderator is being examinated.</div>
            {{end}}
        </div>
        <!-- make other functionnality, user data available with .User -->
    </div>
</main>
{{ template "footer" .}}