{{ template "head" .}}

<section class="form">
  <a href="/" class="back_btn">Back Home</a>

  <form action="" method="post">
    <h5>Register</h5>
    <div class="field">
      <label for="username">Username</label>
      <input type="text" name="username" />
    </div>
    <div class="field">
      <label for="email">Email</label>
      <input type="email" name="email" />
    </div>
    <div class="field">
      <label for="password">Password</label>
      <input type="password" name="password" />
    </div>
    <div class="field">
      <label for="confirmation">Confirmation Password</label>
      <input type="password" name="confirmation" />
    </div>
    <button type="submit">Register</button>
  </form>


  {{ if .ErrorMessage }}
  <div class="alert">*{{ .ErrorMessage }}</div>
  {{ end }}

  <p> Already have an account? <a href="/login"><span class="link">Login</span></a> </p>
</section>
<div style="border-left:1px solid #000;height:500px"></div>
<section class="form">
  <a href="/github/auth">
    <img src="../static/assets/authentication/github_SignIn.png" alt="Github SignIn Button">
  </a>
  <a href="">
    <img src="" alt="">
  </a>
</section>

{{ template "footer" .}}
