{{ template "head" .}}
<main>
  <a href="/" class="back_btn">Back Home</a>
  <section class="register">
    <section class="auth-form">
      <h5>Register</h5>
      <form action="" method="post">
        <div class="field">
          <label for="username">Username</label>
          <input type="text" name="username" />
        </div>
        <div class="field">
          <label for="email">Email</label>
          <input type="email" name="email" />
        </div>
        <div class="field">
          <label for="password">Password</label>
          <input type="password" name="password" />
        </div>
        <div class="field">
          <label for="confirmation">Confirmation Password</label>
          <input type="password" name="confirmation" />
        </div>
        <button type="submit">Register</button>
      </form>
    </section>
    <!-- <div style="border-left:1px solid #000;height:500px"></div> -->
    <div class="vert-ligne"></div>
    <section class="third_party_login">
      <div class="third_party_button">
        <a href="/github/auth/register">
          <div class="light_bg_color">
            <img src="../static/assets/authentication/github-fill-svgrepo-com.svg" alt="Github Register button">
          </div>
          <div class="light_bg_color">
            <p>Register with Github</p>
          </div>
        </a>
      </div>
      <div class="third_party_button">
        <a href="/google/auth/register">
          <div class="light_bg_color">
            <img src="../static/assets/authentication/google-color-svgrepo-com.svg" alt="Google Register Button">
          </div>
          <div class="light_bg_color">
            <p>Register with Google</p>
          </div>
        </a>
      </div>
    </section>
  </section>
  <section class="error">
    {{ if .ErrorMessage }}
    <div class="alert">*{{ .ErrorMessage }}</div>
    {{ end }}
    <p> Already have an account? <a href="/login"><span class="link">Login</span></a> </p>
  </section>
</main>
{{ template "footer" .}}
