.login, .register {
    display: flex;
    justify-content: space-around;
  margin-bottom: 30px;

  .vert-ligne {
    border-left: 5px solid grey;
  }

  .third_party_login {
    display: block;
    margin: auto 0 ;
  }

  .auth-form {
    // margin: auto;

    h5 {
      text-align: center;
    }

    form .field{
      display: flex;
      width: 100%;
      margin-bottom: 20px;
      justify-content: space-between;

      label {
        margin-right: 20px;
      }
    }
  }

  $corner_r: 7px;
  $inside_cor_r: calc($corner_r + 2px);
  $bg_color: #3e3e3e;
  $fg_color: #5b5b5b;

  .third_party_button {
    background-color: $bg_color;
    flex: 1;
    border-radius: $corner_r;
    padding: 5px;

    transition-duration: 1s;
    transition-property:box-shadow, transform ;
    
    &:hover  {
      cursor: pointer;
      transform: translate(-15px,-15px);
      box-shadow: rgba(225, 25, 25,0.4) 5px 5px, rgba(225, 25, 25,0.3) 10px 10px, rgba(225, 25, 25,0.2) 15px 15px;
    }


    &:not(:last-child) {
      margin-bottom: 10px;
    }


    a{
      all: unset;
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      text-decoration: none;

      :first-child {
        border-radius: $inside_cor_r 0 0 $inside_cor_r;
      }


      .light_bg_color {
        display: flex;
        background-color: $fg_color;
        background-clip: content-box;
        align-items: center;

        &:last-child {
          border-radius: 0 $inside_cor_r $inside_cor_r 0;
          margin-left: 4px;
        }
      }

      img {
        margin: 5px;
      }

      p {
        font-weight: 700;
        margin: 0 15px;
      }

    }
  }

  form {
    display: flex;
    flex-direction: column ;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
  }

  img {
    width: 40px;
  }
}

.error {
  display: flex;
  justify-content: center;
}
