* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #181a1b;
    color: #fff;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/**********MAIN PARTS***********/
header {
    display: flex;
    justify-content: space-between;
    padding: 2% 5%;
    background-color: #151718;

    nav {
        width: 33%;
        display: flex;
        justify-content: space-around;
    }
}

footer {
    // position: relative;
    // bottom: 0;
    margin-top: auto;
    width: 100%;
    text-align: center;
    padding: 2%;
    background-color: #151718;
}

main {
    width: 90%;
    margin: auto;
}

/**************LOGIN / REGISTER FORM *************/
@import 'auth';
.alert {
    color: #FF0000;
}

.form {
    width: 90%;
    margin: auto;

    form {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 20px 0;

        h5 {
            font-size: 28px;
            margin-bottom: 20px;
        }

        .field {
            display: flex;
            flex-direction: column;
            margin: 10px 0;
            width: 50%;

            label {
                margin-bottom: 5px;
            }

            input {
                padding: 5px;
            }
        }

        .checkbox{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        button {
            width: 100px;
            padding: 5px 3px;
        }
    }

    p {
        text-align: center;
    }

}


/*****************Filter************/

.filter{
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

.categories-filter{
    padding: 2px 5px;
}

/*****************BUTTON************/
.back_btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #e11919;
    border: none;
    border-radius: 15px;
    margin-top: 20px;
}
.back_btn:hover {
    background-color: #f65a5a;
}

.dislike_btn {
    display: inline-block;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #e11919;
    border: none;
    border-radius: 15px;
    margin-top: 20px;
}
.dislike_btn:hover {
    background-color: #f65a5a;
}

.like_btn {
    display: inline-block;
    padding: 5px 10px;
    margin-right: 10px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #07df2f;
    border: none;
    border-radius: 15px;
    margin-top: 20px;
}

.like_btn:hover {
    background-color: #07b647;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    cursor: pointer;
    color: #00ff;
}

.link {
    font-weight: bold;
    text-decoration: underline;
}

.system_btn {
    display: inline-block;
    padding: 5px 10px;
    margin-right: 10px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #676767;
    border: none;
    border-radius: 15px;
    margin-top: 20px;
}


/**************POST*****************/

.post {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 1px solid #fff;
    padding: 10px;
    margin: 10px 0;
}

.post-details {
    margin: 10px 0;
    padding: 20px;
    border: 1px solid #fff;

    h1 {
        margin-top: 10px;
        text-align: center;
    }
}

.head-post {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.body-post {
    display: flex;
    padding: 20px 0;
    align-items: center;
    img{
        width: 30%;
        margin: 10px;
    }
}


/**********COMMENT***********/

.tab-comment{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    border: solid 1px #fff;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.comment{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: solid 1px #fff;
    
    .comment-head{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        h5{
            font-size: 20px;
        }
    }
    
    .comment-content{
        padding: 10px 0;
    }

    .comment-rate{
        display: flex;
        justify-content: flex-end;
    }
}

.rate{
    display: inline-block;
        padding: 5px 10px;
        font-size: 16px;
        text-align: center;
        text-decoration: none;
        color: #fff;
        border: none;
        border-radius: 15px;
        margin-top: 20px;
}

.like{
    background-color: #07df2f;
    margin-right: 10px;
}
.dislike{
    background-color: #e11919;
}


/********Admin*******/
.table {
    border-collapse: collapse;

    tbody{
        tr{            
            td {
                padding: 2px 15px;
                border: 1px solid white;
            }
            .no_border {
                border: none;
            }
        }
    }
}

.admin_del {
    margin-top: 0;
}
