* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #181a1b;
  color: #fff;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/**********MAIN PARTS***********/
header {
  display: flex;
  justify-content: space-between;
  padding: 2% 5%;
  background-color: #151718;
}
header nav {
  width: 33%;
  display: flex;
  justify-content: space-around;
}

footer {
  margin-top: auto;
  width: 100%;
  text-align: center;
  padding: 2%;
  background-color: #151718;
}

main {
  width: 90%;
  margin: auto;
}

/**************LOGIN / REGISTER FORM *************/
.login, .register {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}
.login .vert-ligne, .register .vert-ligne {
  border-left: 5px solid grey;
}
.login .third_party_login, .register .third_party_login {
  display: block;
  margin: auto 0;
}
.login .auth-form h5, .register .auth-form h5 {
  text-align: center;
}
.login .auth-form form .field, .register .auth-form form .field {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  justify-content: space-between;
}
.login .auth-form form .field label, .register .auth-form form .field label {
  margin-right: 20px;
}
.login .third_party_button, .register .third_party_button {
  background-color: #3e3e3e;
  flex: 1;
  border-radius: 7px;
  padding: 5px;
  transition-duration: 1s;
  transition-property: box-shadow, transform;
}
.login .third_party_button:hover, .register .third_party_button:hover {
  cursor: pointer;
  transform: translate(-15px, -15px);
  box-shadow: rgba(225, 25, 25, 0.4) 5px 5px, rgba(225, 25, 25, 0.3) 10px 10px, rgba(225, 25, 25, 0.2) 15px 15px;
}
.login .third_party_button:not(:last-child), .register .third_party_button:not(:last-child) {
  margin-bottom: 10px;
}
.login .third_party_button a, .register .third_party_button a {
  all: unset;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  text-decoration: none;
}
.login .third_party_button a :first-child, .register .third_party_button a :first-child {
  border-radius: 9px 0 0 9px;
}
.login .third_party_button a .light_bg_color, .register .third_party_button a .light_bg_color {
  display: flex;
  background-color: #5b5b5b;
  background-clip: content-box;
  align-items: center;
}
.login .third_party_button a .light_bg_color:last-child, .register .third_party_button a .light_bg_color:last-child {
  border-radius: 0 9px 9px 0;
  margin-left: 4px;
}
.login .third_party_button a img, .register .third_party_button a img {
  margin: 5px;
}
.login .third_party_button a p, .register .third_party_button a p {
  font-weight: 700;
  margin: 0 15px;
}
.login form, .register form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0;
}
.login img, .register img {
  width: 40px;
}

.error {
  display: flex;
  justify-content: center;
}

.alert {
  color: #FF0000;
}

.form {
  width: 90%;
  margin: auto;
}
.form form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0;
}
.form form h5 {
  font-size: 28px;
  margin-bottom: 20px;
}
.form form .field {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  width: 50%;
}
.form form .field label {
  margin-bottom: 5px;
}
.form form .field input {
  padding: 5px;
}
.form form .checkbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.form form button {
  width: 100px;
  padding: 5px 3px;
}
.form p {
  text-align: center;
}

/*****************Filter************/
.filter {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}

.categories-filter {
  padding: 2px 5px;
}

/*****************BUTTON************/
.back_btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #e11919;
  border: none;
  border-radius: 15px;
  margin-top: 20px;
}

.back_btn:hover {
  background-color: #f65a5a;
}

.dislike_btn {
  display: inline-block;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #e11919;
  border: none;
  border-radius: 15px;
  margin-top: 20px;
}

.dislike_btn:hover {
  background-color: #f65a5a;
}

.like_btn {
  display: inline-block;
  padding: 5px 10px;
  margin-right: 10px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #07df2f;
  border: none;
  border-radius: 15px;
  margin-top: 20px;
}

.like_btn:hover {
  background-color: #07b647;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  cursor: pointer;
  color: blue;
}

.link {
  font-weight: bold;
  text-decoration: underline;
}

.system_btn {
  display: inline-block;
  padding: 5px 10px;
  margin-right: 10px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #676767;
  border: none;
  border-radius: 15px;
  margin-top: 20px;
}

/**************POST*****************/
.post {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: 1px solid #fff;
  padding: 10px;
  margin: 10px 0;
}

.post-details {
  margin: 10px 0;
  padding: 20px;
  border: 1px solid #fff;
}
.post-details h1 {
  margin-top: 10px;
  text-align: center;
}

.head-post {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.body-post {
  display: flex;
  padding: 20px 0;
  align-items: center;
}
.body-post img {
  width: 30%;
  margin: 10px;
}

/**********COMMENT***********/
.tab-comment {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  border: solid 1px #fff;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.comment {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: solid 1px #fff;
}
.comment .comment-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.comment .comment-head h5 {
  font-size: 20px;
}
.comment .comment-content {
  padding: 10px 0;
}
.comment .comment-rate {
  display: flex;
  justify-content: flex-end;
}

.rate {
  display: inline-block;
  padding: 5px 10px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border: none;
  border-radius: 15px;
  margin-top: 20px;
}

.like {
  background-color: #07df2f;
  margin-right: 10px;
}

.dislike {
  background-color: #e11919;
}

/********Admin*******/
.table {
  border-collapse: collapse;
}
.table tbody tr td {
  padding: 2px 15px;
  border: 1px solid white;
}
.table tbody tr .no_border {
  border: none;
}

.admin_del {
  margin-top: 0;
}

/*# sourceMappingURL=style.css.map */
